.header{
    background-color: #1f3864;
    display: flex;
    justify-content: end;
    height: 40px;
    border-bottom: 1px solid gray;
    align-items: center;
    display: none;
}

.header__button{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    /* background-color: aqua; */
    text-align: center;
    line-height: 40px;
    font-size: 28px;
}

